body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mytinerarylogo {
  margin-bottom: 50px;
  margin-top: 50px;
}

footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 2.5rem;
}

.circlearrow {
  margin-bottom: 20px;
  margin-top: 20px;
}
